.labContentDiv * {
  box-sizing: border-box;
}

.labContentDiv .castButton {
  background-color: green;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  float: none;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}

#oneSpace{
  width: 20%;
  float: left;
  margin-right: 50px;
}

#movingBlock{
  position: relative;
  top: 50px;
  background-color: red;
  color: white;
  width: 100px;
  height: 100px;
  margin-bottom: 255px;
}

/* .labContentDiv .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.labContentDiv .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.labContentDiv .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.labContentDiv .row:after {
  content: "";
  display: table;
  clear: both;
}

.labContentDiv input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.labContentDiv label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.labContentDiv input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}

.labContentDiv input[type=reset] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
} */
/* .labContentDiv input[type=submit]:hover {
  background-color: #45a049;
}

.inputError{
  background-color: rgba(255, 0, 0, 0.4);
  background-size: contain;
}

.inputOk{
  background-color: rgba(0, 255, 0, 0.4);
  background-size: contain;
} */
/* @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */