.App{
    height: 100vh;
    width: 100vw;
    background: #F5F5F5;
    overflow-y: hidden;
}

.App .AppHeader{
  width: 83.5%;
  float: right;
  text-align: center;
  font-size: calc(2px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
  border-bottom: solid;
  line-height: 1.25;
}

.App .AppHeader b{
  font-size: calc(7px + 2vmin);
  line-height: 1.5;
}

.App .AppHeader p{
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
}

.App .ListLabs{
  text-underline-position: inherit;
  position: static;
  float: left;
  width: 15%;
  height: max-content;
  margin-left: 1%;
  border-right-style: solid;
  border-bottom-style: solid;
  padding-bottom: 15px;
  font-size: calc(3px + 2vmin);
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}

.navigation{
  margin-inline-start: -10px;
}

.App .ListLabs ul {
  list-style-type: none;
  margin:0px;
  padding: 5px;
  text-indent: 0px;

  list-style-type: none;
  width: 90%;
  background-color: white;
  font-weight:bold;

  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.App .ListLabs li {
  text-align: left;
  font-size: calc(5px + 1vmin);
  padding: 1.5% 8%;
  border-bottom: 1px solid #e5e5e5;
}

.App .ListLabs li:last-child {
  border-bottom: none;
}

.App .ListLabs li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.App .ContentLab{
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-underline-position: inherit;
  position: static;
  float: right;
  width: 81%;
  margin-left: 1%;
  padding-right: 1.5%;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.task{
  margin-block-start: 0em;
}

.labContentDiv{  
  display: block;
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  width: 99%;
  overflow: auto;
  overflow-x: hidden;
  max-height: max-content;
}

.cur_lab{
  background-color: black;
  color: white;
}

#style-4::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	height: 8px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0.575);
	border: 2px solid #555555;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */