*{
    font-size: large;    
}
body{
    margin: 3%;    
}
select{
    width: 47%;
    height: 2em;    
    border: solid 1px rgb(0, 0, 0);
    margin-right: 10px;
}
#result, #routeInfo{
    width: 100%;
    margin-top: 20px;
    height: 2em;
}

#descr{
	display: inline-block;
    width: 48%;
}